input[type=range] {
    -webkit-appearance: none; 
    cursor: pointer;
    background: #d5d4d3;
    border-radius: 30px;
}
  
input[type=range]:focus {
    outline: none; 
}
  
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #ee5253;
    border-radius: 50%;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb{
    -webkit-appearance: none;
    width:10px;
    height:10px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}










